.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  padding-top: 15px;
  padding-left: 2%;
  padding-right: 2%;
}

.buttons Button {
  border: 2px solid #0cce2f;
  border-radius: 5px;
  padding: 10px;
  background-color: #242424;
}

.buttons Button:active {
  background-color: #000;
}
