.addform {
  padding-top: 10px;
}

.addform fieldset {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 1dvh;
  width: 80%;
  padding: 10px 5px 5px 5px;
}

.addform legend {
  font-size: 0.8rem;
}

.addform label,
input,
option {
  padding-left: 2px;
}

.addform textarea {
  padding: 5px;
}

.addform select,
.addform #completed {
  max-width: 50%;
}

.addform #genres {
  min-height: 100px;
}

.addform #year {
  max-width: 20%;
}

.addform #submit {
  margin-top: 10px;
  border: 2px solid #0cce2f;
  border-radius: 5px;
  padding: 10px;
  background-color: #242424;
  font-size: 1.1rem;
}

.addform #submit:active {
  background-color: #12e739;
}
