.listWrap {
  padding-top: 10px;
  padding-left: 2%;
  padding-right: 2%;
}

.fullListTitles,
.listItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 0 2px 0;
  justify-content: start;
}

.fullListTitles {
  font-weight: 600;
}

.fullListTitles span,
.listItem span {
  border-right: 1px solid black;
  padding: 0 2% 0 2%;
}

.fullListTitles span:last-of-type,
.listItem span:last-of-type {
  border-right: none;
}

.listItem {
  background-color: #333333;
  border-bottom: 4px solid #242424;
}
